// Place all the styles related to the Sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#demobox {
    background-color: rgb(13, 49, 130) ;
    padding: 10px ;
    border: 1px solid rgb(13, 49, 130) ;
    width: 500px;
}

#demobox2 {
  background-color: gray ;
  padding: 10px ;
  border: 1px solid black ;
  width: 400px;
}
#demobox3 {
  background-color: rgb(13, 49, 130) ;
  padding: 10px ;
  border: 1px solid rgb(13, 49, 130) ;
  width: 600px;
}
#demobox4 {
  background-color: gray ;
  padding: 10px ;
  border: 1px solid black ;
  width: 500px;
}

#table {
  background-color: gray ;
  padding: 10px ;
  border: 1px solid black ;
}
